<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{% url 'Main_app:homeview' %}">Home</a></li>
                    <li><a href="{% url 'Pessoa_app:listapessoaview' %}">Listar Pessoas</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% block li_a %}{% endblock li_a %}
                </ul>
            </nav>
        {% else %}
        <nav>
            <ul>
                <li><a href="{% url 'Main_app:registerview' %}">Registrar</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% block li_a_else %}{% endblock li_a_else %}
            </ul>
        </nav>
        {% endif %}
        {% block header %}{% endblock header %}
    </header>

    {% block body %}{% endblock body %}

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
</body>
</html>