{% extends "Main_app/base.html" %}

{% block title %}Listagem e detalhamento de Contatos{% endblock title %}

{% block header %}
{% endblock header %}

{% block li_a %}
{% endblock li_a %}

{% block body %}
{% comment %} talvez remover esse campo de busca ? {% endcomment %}
<form action="" method="GET">
    <input type="text" name="nome-buscar" id="nome-buscar" placeholder="Buscar por nome">
    <input type="submit" value="Buscar">
</form>
<a href="{% url 'Pessoa_app:criarcontatodef' pk_pessoa %}">Listar novo Contato</a>
<table>
    <thead>
        <tr>
            <th>A</th>
            <th>Contato da pessoa :</th>
        </tr>
        <tbody>
            {% for contato in contatos %}
                <tr>
                    <td>{{contato.tipo}}</td>
                    <td>{{contato.contato}}</td>
                    {% comment %} <td>{{pessoa.ativa}}</td> {% endcomment %}
                    <td><a href="{% url 'Pessoa_app:editarcontatodef' contatos.first.pessoa.pk contato.pk %}">Editar</a></td>
                    <td><a href="{% url 'Pessoa_app:deletarcontatodef' contatos.first.pessoa.pk contato.pk %}">Remover</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% comment %} COLOCAR AQUI A OPÇÃO DE ADICIONAR NOVO CONTATO {% endcomment %}
{% endblock body %}
